body {
  background-color: #EAF7FF;
  font-family: 'Inter', sans-serif;
  margin: 0 auto;
  width: 517px;
  height: 694px;

}

/* Cabeçalho com menu de opções */
.cabecalho__menu_background{
  background-color: #BCF7FF; 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.cabecalho__imagem_logo{
  position: relative;
  right: 80px; 
}

.cabecalho__botao_sair{
  background-color: #8FF2FF;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 700;
  font-size: 17px;
  height: 24px;
  width: 46px;
 
  
}

.cabecalho__menu-paginas{
  padding: 18px;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
  padding: 9px;
  
}
/* Tipo do conteúdo da página */
.titulo-conteudo__pagina{
  font-size: 19px;
  text-align: center;
  padding: 26px;
}

/* Opções da página */
.opcoes-filtro{
  font-size: 15px;
  position: relative;
}

.opcoes-filtro__ordenar{
position: absolute;
top: 0;
right: 5px;

}

.opcoes-filtro__selecionar{
  background-color: transparent;
  border: none;
  text-decoration: underline;
  font-size: 15px;
  appearance: none;
}

/* Blocos dos lavadores */
.lavadores, .carros{
  list-style-type: none;
  margin: 16px 35px;
  padding-left: 0;
}

.lavadores__card, .carros__card{
  background-color: #FFFFFF;
  border-radius: 10px;
  margin-bottom: 16px;
  height: 80px;
  width: 446px;
  position: relative;
  
}

.lavadores__card_avatar{
  height: 55px;
  position: absolute;
  top: 13px;
  left: 13px;
}

.lavadores__card_botao{
  background-color: #8FF2FF;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 12px;
  height: 25px;
  width: 103px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.lavadores__card_nome{
  font-size: 15px;
  font-weight: bold;

  position: absolute;
  top: 10px;
  left: 80px;
}

.lavadores__card_nota{
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  top: 6px;
  right: 70px;
}

.lavadores__card_valor{
  font-size: 15px;
  font-weight: bold; 
  width: 59px;
  height: 27px;
  background: #DCFCFE;
  border-radius: 0px 10px 0px 0px;
  position: absolute;
  top: 0px;
  right: 0px;
}

.lavadores__card_ver-avali{
  color: inherit;
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;

  position: absolute;
  bottom: 5px;
  right: 120px;
}
/* Blocos do rodapé */
.rodape{
  background-color: #BCF7FF; 
  display: grid;
  grid-template-columns: 172px 172px 172px;
  grid-template-rows: 85px;
  align-items: center;
  position: fixed;
  bottom: 0px;
  
}
.rodape__redes{
  justify-self: end;
}

.rodape__imagem_logo{
  height: 25px;
}

.rodape__imagem_insta{
  height: 10px;
}

.rodape__mapa, .rodape__usuario_insta{
  list-style-type: none;
  font-size: 6px;
}

.rodape__direitos{
  font-size: 4px;
}

/*---------- MEUS CARROS---------- */
.carros__botao_excluir{
  background-color: #FF9B9B;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 12px;
  height: 25px;
  width: 103px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  
}

.carros__botao{
  text-align: center;
}
.carros__botao_add{
  background-color: #8FF2FF;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 12px;
  height: 25px;
  width: 103px;
}
.carros__card_veiculo{
  font-weight: bold;
  font-size: 12px;
  position: absolute;
  top: 5px;
  left: 10px;
  
}
.carros__card_ano{
  font-size: 12px;
  position: absolute;
  top: 20px;
  left: 10px;
  
}

/*-----------ADICIONAR CARRO---------- */
.painel{
  background-color: #FFFFFF;
  width: 446px ;
  height: 181px;
  border-radius: 10px;
  margin: 10px auto;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.painel__fabricante, .painel__modelo, .painel__ano{
  font-size: 12px;
  font-weight: bolder;
  padding: 5px;
}


.painel__selecao, .painel__selecao_ano{
  width: 248px ;
  height: 19px ;
  border-radius: 10px;
  border-color: #A8A8A8;
}

.painel__selecao_ano{
  width: 63px;
  }