.cabecalho__menu_background{
  background-color: #BCF7FF; 
}

body {
  background-color: #EAF7FF;
  font-family: 'Inter', sans-serif;
}

.cabecalho__botao_sair{
  background-color: #8FF2FF;
  border: none 5px;
  text-decoration: none;
  font-weight: 700;
  font-size: 17px;
  
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
  
}

.titulo-conteudo__pagina{
  font-size: 17px;
  text-align: center;
}